/*Imports*/
@import "https://fonts.googleapis.com/css2?family=Playfair+Display&family=Quicksand:wght@500&family=Rubik:wght@700&display=swap";

/*Variables*/
$couleur1: white;
$couleur2: #0e273b;

$font1: 'Open Sans';

/*Mixins*/
@mixin background-color($color) {
  background-color: $color;
}

@mixin font-style($font, $size) {
  font-family: $font;
  font-size: $size;
}

/*Styles*/

.logo {
  max-width: 120px;
}

.navbar, .offcanvas-body,.offcanvas-header, .nav_footer {
  @include background-color($couleur2);
}

.offcanvas-header {
  padding-top: 35px;
}

.nav-item img {
  margin-right: 15px;
}

.navbar a, .navbar p {
  color: $couleur1;
}

.nav_profil_container {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 5px;
}

.container-fluid {
  justify-content: space-around;
}

.nav_footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}