{% extends 'base2.html.twig' %}

{% block title %}Connexion{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}" />
{% endblock %}
{% block body %}
    <div class="container container-connexion">
        <h1>Connexion</h1>
        <div class="form-text" style="color:red; margin-bottom: 10px;">
            *Tous les champs sont obligatoires
        </div>
        <form class="row" action="{{ path('app_connexion') }}">
            <div class="col">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email<span style="color:red">*</span></label>

                        <input  required
                                placeholder="Votre email universitaire" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Mot de passe<span style="color:red">*</span></label>
                        <input required
                               type="password"
                               class="form-control"
                               id="exampleInputPassword1"
                        />
                        <div class="form-text">
                            Entre 8 et 16 caractères.
                        </div>
                    </div>
                <button type=" submit" class="btn btn-primary" >Se connecter</button>
            </div>
        </form>
    </div>
{% endblock %}

