@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

// Color palette
$primary-color: #0E273B; // Assuming black for primary text
$secondary-color: #0E7399; // Assuming grey for secondary text
$accent-color: #ccc; // Assuming blue for links and buttons
$border-color: #ccc; // Assuming light grey for borders

// Font stack
$font-stack: 'Open Sans', sans-serif;

body {
  background-color: #F4F4F4;
  font-family: $font-stack;
}

.titre {
  color: $primary-color;
  font-size: 2rem;
  text-align: center;
  padding: 1rem 0;
}

.agenda-container {
  background-color: $primary-color;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba($primary-color, 0.1);
  margin: 0.5rem;
  padding: 1rem;

  .task-details {
    margin-bottom: 1rem;

    h3 {
      font-size: 1.25rem;
      color: $accent-color;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 1rem;
      color: $accent-color;
      margin-bottom: 0.25rem;
    }
  }

  .task-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .info-button {
      color: $accent-color;
      text-decoration: none;
      font-weight: bold;
      font-size: 1rem;
      border-radius: 10px;
      padding: 10px;
    }

    .info-button:hover {
      background-color: $secondary-color;
    }

    .menu-button {
      background: none;
      border: none;
      color: $accent-color;
      font-size: 1.5rem;
    }
  }
}

// Media query for desktop
@media (min-width: 1024px) {
  body {
    background-color: #F4F4F4;
    font-family: $font-stack;
  }

  .agenda-container {
    // For a two-column layout
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 20px auto;
    max-width: 960px; // Adjust based on your design

    .task-details,
    .task-actions {
      // Remove if you want to keep the mobile look
      background-color: transparent;
      box-shadow: none;
    }

    .task-actions {
      justify-content: flex-end;

      .info-button {
        // Restyle the button if needed
        padding: 0.5rem 1rem;
        &:hover {
          background-color: lighten($secondary-color, 10%);
          // Other hover styles
        }
      }
    }
  }
}

