/*Imports*/
@import "https://fonts.googleapis.com/css2?family=Playfair+Display&family=Quicksand:wght@500&family=Rubik:wght@700&display=swap";

/*Variables*/
$couleur1: white;
$couleur2: #0e273b;
$couleur3:#0e7399;
$couleur4:#eee;

$font1: 'Open Sans';

/*Mixins*/
@mixin background-color($color) {
  background-color: $color;
}

@mixin font-style($font, $size) {
  font-family: $font;
  font-size: $size;
}

/*Styles*/
.container {
  padding: 30px;
  max-width: 900px;
}

.btn-primary {
  @include background-color($couleur3);
  border-color: $couleur3;
}

.container-inscription {

  margin-top: 50px;
  @include background-color($couleur4);
  border-radius: 10px;
}