{% extends 'base2.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/inscription.css') }}">
{% endblock %}
{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container container-inscription">
        <h1>Bienvenue ! Veuillez vous inscrire</h1>
        <div class="form-text" style="color:red">
            *Tous les champs sont obligatoires
        </div>
        <form class="row inscription" action="{{ path('app_connexion') }}">
            <div class="col">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Nom<span style="color:red">*</span></label>
                <input
                        required
                        placeholder="Votre nom de famille"
                        type="text"
                        class="form-control"
                        id="exampleInputEmail1"
                        aria-describedby="emailHelp"
                />
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Prénom<span style="color:red">*</span></label>
                <input
                        required
                        placeholder="Votre prénom"
                        type="text"
                        class="form-control"
                        id="exampleInputEmail1"
                        aria-describedby="emailHelp"
                />
            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Formation<span style="color:red">*</span></label>
                <select
                        required
                        class="form-select form-select-lg mb-3"
                        aria-label=".form-select-lg example"
                        style="font-size: 16px"
                >
                    <option selected>Sélectionnez votre formation</option>
                    <option value="1">BUT informatique</option>
                    <option value="2">BUT MMI</option>
                    <option value="3">BTS</option>
                </select>

                <select
                        required
                        class="form-select form-select-sm"
                        aria-label=".form-select-sm example"

                >
                    <option selected>
                        Année d'étude
                    </option>
                    <option value="1">Première année</option>
                    <option value="2">Deuxième année</option>
                    <option value="3">Troisième année</option>
                </select>
            </div>
             <div class="mb-3">
                 <select
                         required
                         class="form-select form-select-sm"
                         aria-label=".form-select-sm example"

                 >
                     <option selected>
                         Groupe de TD
                     </option>
                     <option value="1">Groupe A</option>
                     <option value="2">Groupe B</option>
                     <option value="3">Groupe C</option>
                     <option value="3">Groupe D</option>
                     <option value="3">Groupe E</option>
                     <option value="3">Groupe F</option>
                     <option value="3">Groupe G</option>
                     <option value="3">Groupe H</option>
                 </select>
             </div>
                <button type=" submit" class="btn btn-primary" >Envoyer</button>
            </div>

            <div class="col">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Identifiant<span style="color:red">*</span></label>
                <input
                        required
                        placeholder="Votre identifiant universitaire"
                        type="text"
                        class="form-control"
                        id="exampleInputEmail1"
                        aria-describedby="emailHelp"
                />
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email<span style="color:red">*</span></label>

                <input  required
                        placeholder="Votre email universitaire" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Mot de passe<span style="color:red">*</span></label>
                <input required
                       type="password"
                       class="form-control"
                       id="exampleInputPassword1"
                />
                <div class="form-text">
                    Entre 8 et 16 caractères.
                </div>
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Confirmation du mot de passe<span style="color:red">*</span></label>
                <input required
                       type="password"
                       class="form-control"
                       id="exampleInputPassword1"
                />
            </div>
            </div>
        </form>
    </div>
{% endblock %}

